@use '../abstracts';

.cta-section {
    background-color: abstracts.$dark-navy;
    padding: 88px 32px 88px 32px;
    

    @include abstracts.adjust-for(abstracts.$tablets) {
        padding:  62px 156px 62px 155px;
        position: relative;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        padding:  102px 11.46% 102px 11.46%;
    }

    .semi-circles {
        display: none;

        @include abstracts.adjust-for(abstracts.$tablets) {
            display: block;
            width: 995px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        
    }
    
    .cta-container {
        width: 311px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;

        @include abstracts.adjust-for(abstracts.$tablets) {
            width: 457px;
        }

        @include abstracts.adjust-for(abstracts.$desktop) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            margin: 0;
        }
    }

    h2 {
        color: abstracts.$white;

        @include abstracts.adjust-for(abstracts.$desktop) {
            width: 415px;
        }
    }

    .app-download {
        height: 40px;
        margin-top: 40px;
        
        @include abstracts.adjust-for(abstracts.$desktop) {
            width: 359px;
            height: 56px;
            margin: 0;
        }
    }

    .ios-app {
        width: 113.57px; 
        height: 40px;
        margin-right: 12.68px;
        
        @include abstracts.adjust-for(abstracts.$desktop) {
            width: 159px;
            height: 56px;
            margin-right: 13px;
        }

        rect {
            width: 159px;
            height: 56px;
        }
    }
    .android-app {
        width: 130px; 
        height: 40px;

        @include abstracts.adjust-for(abstracts.$desktop) {
            width: 182px;
            height: 56px;
        }

        rect {
            width: 182px;
            height: 56px;
        }
    }

}