// Header style

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    

    .hamburger {
        width: 19.692px;
        height: 16px;
        margin-left: 8.53%;
    }

    .logo {
        width: 75.502px;
        height: 20px;
        margin-right: 39.86%;
    }

    .header-links {
        display: none;
    }

    button {
        display: none;
    }
}