@use '../abstracts';

.hero {
    height: 650px;
    background: url('../assets/images/home-hero-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: abstracts.$white;
    text-align: center;
    padding-top: 115px;
    
    @include abstracts.adjust-for(abstracts.$tablets){
        background: url('../assets/images/home-hero-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 137px;
    }

    
    h3 {
        width: 311px;
        font-size: 40px;
        line-height: 40px;
        margin: auto;

        @include abstracts.adjust-for(abstracts.$tablets){
            width: 573px;
            font-size: 56px;
            line-height: 56px;    
        }
    }

    p {
        width: 311px;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 48px;

        @include abstracts.adjust-for(abstracts.$tablets){
            width: 573px;   
        }
    }
}