@use '../abstracts';

.hero {
    height: 40.625rem;
    background: url('../assets/images/home-hero-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: abstracts.$white;
    text-align: center;
    padding-top: 7.1875rem;
    
    @include abstracts.adjust-for(abstracts.$tablets){
        background: url('../assets/images/home-hero-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 8.5625rem;
    }

    @include abstracts.adjust-for(abstracts.$desktop){
        background: url('../assets/images/home-hero-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 9.5625rem;
        text-align: left;
    }
    
    h1 {
        max-width: 19.4375rem;
        margin: auto;

        @include abstracts.adjust-for(abstracts.$tablets){
            max-width: 35.8125rem;  
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            max-width: 31.25rem;
            margin-left: 10.3125rem;    
        }
    }


    p {
        color: abstracts.$white;
        max-width: 19.4375rem;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 3rem;

        @include abstracts.adjust-for(abstracts.$tablets){
            max-width: 35.8125rem;   
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            max-width: 25.3125rem; 
            height: 6.25rem;
            margin-top: 2.5rem;
            margin-left: 16.25rem;  
        }
    }

    .button {
        @include abstracts.adjust-for(abstracts.$desktop){
            margin-left: 16.25rem;
        }
    }

    #hero-line {
        display: none;

        @include abstracts.adjust-for(abstracts.$desktop){
            display: block;
            position: absolute;
            top: 21.8125rem; 
        }
       
    }

    .hero-arrow {
        width: 28.25rem;
        position: absolute;
        top: 29.474375rem;
        left: -19.8125rem;

        @include abstracts.adjust-for(abstracts.$tablets){
            top: 29.1625rem;
            left: -7.7rem;  
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            width: 31.38%;
            top: 21.5625rem;
            right: 20.1%;
            left: 43.9375rem;
            z-index: 1;
            
        }

    }

    #hero-circles {
        display: none;

        @include abstracts.adjust-for(abstracts.$tablets){
           display: block;
           width: 12.6875rem;
           height: 3.9375rem;
           position: absolute;
           top: 33.875rem;
           right: 0;  
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            width: 11.625rem;
            top: 26.40625rem;
            right: 0;   
        }
    }
}