@use '../abstracts';

.howto {

    @include abstracts.adjust-for(abstracts.$tablets){
        display: flex;
        max-width: 35.8125rem;
        margin: auto;
        padding-top: 7.625rem;
        position: relative;   
    }

    @include abstracts.adjust-for(abstracts.$desktop){
       flex-direction: column;
       max-width: 100%;
       padding-top: 0;
       margin: 0;
       position: relative;
       
       &::after {
        content: '';
        background-color: hsl(213, 40, 93);
        height: 0.9375rem;
        width: 67.6%;
        position: absolute;
        top: 12.375rem;
        left: 0;
        z-index: -1;
        
    }
    }
    
    .steps-icons {
        display: none;

        @include abstracts.adjust-for(abstracts.$tablets){
            display: flex;
            flex-direction: column;
            margin-right: 4.9375rem;

            .step-icon-tablets:not(:last-child){
                margin-bottom: 4.625rem;
            }

            &::after {
                content: '';
                background-color: hsl(213, 40, 93);
                height: 32rem;
                width: 0.9375rem;
                position: absolute;
                top: 0;
                left: 2.5rem;
                z-index: -1;
            }
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            display: none;
        }

    }

    .howto-steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 7.5rem;

        @include abstracts.adjust-for(abstracts.$tablets){
            margin: 0;   
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            flex-direction: row;
            justify-content: space-between;
            width: 77.1%;
            padding-top: 10rem;
            margin-left: 12.9%;   
        }

        .step {
            max-width: 19.4375rem;
            text-align: center;

            @include abstracts.adjust-for(abstracts.$tablets){
                max-width: 24.875rem;
                text-align: left;
            }

            @include abstracts.adjust-for(abstracts.$desktop){
                max-width: 31.5%;
            }
            
            &:not(:first-child) {
                margin-top: 3rem;
    
                @include abstracts.adjust-for(abstracts.$desktop){
                    margin-top: 0;
                }
            }
        
            #step-icon-mobile {
        
                @include abstracts.adjust-for(abstracts.$tablets){
                    display: none;
                }

                @include abstracts.adjust-for(abstracts.$desktop){
                    display: block;
                    max-width: 6rem;
                    height: 6rem;

                }
            }
        
            h4 {
                color: abstracts.$dark-navy;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
        
                @include abstracts.adjust-for(abstracts.$tablets){
                    margin-top: 0;
                }

                @include abstracts.adjust-for(abstracts.$desktop){
                    margin-top: 1.5rem;
                }
            }
        
            // p {
            //     color: abstracts.$dim-grey;
            //     font-family: "Lexend Deca";
            //     font-size: 15px;
            //     font-style: normal;
            //     font-weight: 400;
            //     line-height: 25px;
               
            // }
        }

        

        
    }

}