@use '../abstracts';

.ourvalues-section {

    max-width: 19.4375rem;
    margin: auto;
    text-align: center;

    @include abstracts.adjust-for(abstracts.$tablets){
        max-width: 28.5625rem;
    }

    @include abstracts.adjust-for(abstracts.$desktop){
        max-width: 69.375rem;
        margin-left: 11.45%;
        margin-right: 11.45%;
        
    }

    h2 {
        margin-bottom: 4rem;

        @include abstracts.adjust-for(abstracts.$tablets){
            margin-bottom: 3.125rem;
        }

        @include abstracts.adjust-for(abstracts.$desktop){
            margin-bottom: 3rem;
        }

    }

    .values-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include abstracts.adjust-for(abstracts.$desktop){
            flex-direction: row;
        }

        .value {

            @include abstracts.adjust-for(abstracts.$desktop){
                max-width: 31.53%;
                flex-direction: row;
            }

            &:not(:last-child){
                margin-bottom: 3.5rem;
            }

            .value-image {
                height: 18rem;
                position: relative;
                // margin-bottom: 1rem;

                @include abstracts.adjust-for(abstracts.$tablets){
                    height: 21.875rem;
                    max-width: 21.875rem;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    max-width: 77.17%;
                    display: block;
                    border-radius: 50%;
                    margin: auto;
                }

                .value-number {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    width: 6rem;
                    height: 6rem;
                    background-color: abstracts.$yellow;
                    border-radius: 50%;
                    line-height: 6.25rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                }

            }

            .value-content {
                margin-top: 1rem;
                @include abstracts.adjust-for(abstracts.$tablets){
                    margin-top: 2rem;
                }

                p {
                    margin-top: 1.6875rem;
                }

            }

            

        }
    }
}