// Mobile Side Bar styles

@use '../abstracts';

#side-bar {

    position: absolute;
    top: 0;
    bottom: 0;
    left: -68.27%; 
    width: 68.27%;
    height: 100vh;
    background-color: abstracts.$dark-grayish-blue;
    padding: 4rem 2rem 1.5rem 2rem;
    transition: left 0.5s ease-in-out;
    z-index: 1;

    #sidebar-links {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.5rem;
            width: 5.5625rem;
            height: 7.6875rem;
        }
    
        ul li a {
            color: abstracts.$light-grey;
            font-size: 1.125rem;
        }
    }

    .button {
        width: 100%;
        margin-top: 21.1875rem;
    }

    @include abstracts.adjust-for (abstracts.$tablets) {
        display: none;
    }

}