// styles for different arrow patterns

@use '../abstracts';


.left-downward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 734px;
        height: 151px;
        position: absolute;
        top: 298px;
        right: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 737px;     
    }   
}

.left-upward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 734px;
        height: 151px;
        position: absolute;
        top: 268px;
        right: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 737px;     
    }   
}


.right-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 367.65px;
        height: 151px;
        top: 0;
        left: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
             
    }   

}

.left-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 381.65px;
        height: 151px;
        top: 72px;
        right: 0;
        z-index: 999;
        transform: rotateY(180deg);
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
             
    }   

}