// styles for different arrow patterns

@use '../abstracts';


.left-downward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 45.875rem;
        height: 9.438rem;
        position: absolute;
        top: 18.625rem;
        right: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 46.063rem;     
    }   
}

.left-upward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 45.875rem;
        height: 9.438rem;
        position: absolute;
        top: 16.75rem;
        right: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 46.063rem;     
    }   
}


.right-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 22.978rem;
        height: 9.438rem;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

.left-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 23.854rem;
        height: 9.438rem;
        top: 4.5rem;
        right: 0;
        z-index: 999;
        transform: rotateY(180deg);
    }
}