// styles for different arrow patterns

@use '../abstracts';

.left-downward-mobile {
    
    width: 93.4%;
    height: 45.65%;
    position: absolute;
    top: 52.73%;
    right: 0;
    
    svg {
        width: 100%;
        height: 100%;
    }

    @include abstracts.adjust-for(abstracts.$tablets) {
        display: none;     
    }   
}

.left-downward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 45.875rem;
        height: 9.438rem;
        position: absolute;
        top: 18.625rem;
        right: 0;
        z-index: 999;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 46.063rem;     
    }   
}

.left-upward-mobile {
    
    width: 93.4%;
    height: 45.65%;
    position: absolute;
    top: 43.73%;
    right: 0;
    transform: rotatex(180deg);
    
    svg {
        width: 100%;
        height: 100%;
    }

    @include abstracts.adjust-for(abstracts.$tablets) {
        display: none;     
    }   
}

.left-upward {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        width: 45.875rem;
        height: 9.438rem;
        position: absolute;
        top: 16.75rem;
        right: 0;
        z-index: 999;
        transform: rotatex(180deg);
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 57.6%;
        max-width: 46.063rem;     
    }   
}

.right-arrow-mobile {
    position: absolute;
    width: 77.86%;
    height: 9.438rem;
    top: 0;
    left: 0;

    svg {
        width: 100%;
        height: 100%;
    }

    @include abstracts.adjust-for(abstracts.$tablets){
        display: none;
    }
}

.right-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 22.978rem;
        height: 9.438rem;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

.left-arrow-mobile {
    position: absolute;
    width: 64.8%;
    top: 0;
    right: 0;
    transform: rotateY(180deg);

    svg {
        width: 100%;
        height: 100%;
    }

    @include abstracts.adjust-for(abstracts.$tablets){
        display: none;
    }
}

.left-arrow {
    display: none;

    @include abstracts.adjust-for(abstracts.$tablets){
        display: block;
        position: absolute;
        width: 23.854rem;
        height: 9.438rem;
        top: 4.5rem;
        right: 0;
        z-index: 999;
        transform: rotateY(180deg);
    }
}