// Button style and hover

@use '../abstracts';


.button {
    width: 12rem;
    height: 3.3125rem;
    background-color: abstracts.$yellow;
    color: abstracts.$white;
    text-align: center;
    line-height: 3.3125rem;

    &:hover {
        background-color: abstracts.$white;
        color: abstracts.$yellow;
        border: 0.1875rem solid abstracts.$yellow;

    }

    @include abstracts.adjust-for(abstracts.$tablets) {
        width: 11.25rem;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 11.25rem;
    }
}