// Button style and hover

@use '../abstracts';


button {
    width: 192px;
    height: 53px;
    background-color: abstracts.$yellow;
    color: abstracts.$white;
    border: none;

    &:hover {
        background-color: abstracts.$white;
        border: 3px solid abstracts.$yellow;

        a {
            color: abstracts.$yellow;
        }
    }
    
    a {
        color: abstracts.$white;
    }

    @include abstracts.adjust-for(abstracts.$tablets) {
        width: 180px;
    }

    @include abstracts.adjust-for(abstracts.$desktop) {
        width: 180px;
    }
}