@use '../abstracts';

.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .cart-description {
        width: 311px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 120px;
        text-align: center;

        .cart-image img{
            width: 311px;
            height:311px;
            border-radius: 50%;
            margin-bottom: 56px;
        }
        .cart-info {
            h3 {
                font-size: 32px;
                line-height: 2rem;
                margin-bottom: 32px;
            }
            p {
                color: abstracts.$dim-grey;
                margin-bottom: 32px;
            }
        }


    }

}