// All the mixins

// Responsive design Breakpoints 

@mixin adjust-for($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

// style for hamburger and close icons

@mixin hamburgercloseMixin(){
    width: 19.692px;
    height: 17px;
    margin-left: 8.53%;
}