// All the mixins

// Responsive design Breakpoints 

@mixin adjust-for($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

// style for hamburger and close icons

@mixin hamburgercloseMixin(){
    width: 1.23075rem;
    height: 1.0625rem;
    margin-left: 8.53%;
    background-color: transparent;
    border: none;

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}